/* CONTAINERS */

.home-container{
    /* min-height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://raw.githubusercontent.com/honeylemonicetea/Resources/main/songpop/fath-3NgcTH0CFJg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.home-inner{
    background-color: rgba(255, 255, 255, 0.448);
    padding: 3vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
}

.start-btn{
    display: block;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    margin: auto;
    padding: 2% 5%;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    margin-top: 5%;

}







.play-btn{
    background-color: #ffafcc;
    padding: 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}


/* PLAYLIST STYLES */
.playlist-container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 80vh;
   height: fit-content;
   padding-top: 5%;

}

.playlist-inner{
    width: 85%;
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 250px 250px; */
    gap: 4% 1%;
    background-color: rgba(255, 255, 255, 0.531);
    padding: 3%;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    min-height: 80vh;
    height: fit-content;
}

.playlist-card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    /* height: 40vh; */
    border-radius: 5px;
    background-color: #ffffff;
    transition: transform 0.5s, box-shadow 1s;
    display: block;

}
    .playlist-card:hover{
        box-shadow: 0px 0px 2px 4px rgb(0, 183, 255);
        transform: scale(1.05);
    }
.playlist-card p{
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
    width: 100%;
    bottom: 0;
    padding: 5% 2%;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    
}