@media (max-width: 1300px) {
    .playlist-inner{
        grid-template-columns: repeat(3, 1fr);
        margin: 10% 0;
    }

}

@media (max-width: 900px) {
    .playlist-inner{
        grid-template-columns: repeat(2, 1fr);
        margin: 10% 0;
    }

}


@media (max-width: 700px) {
    /* menu */
    .menu-container{
        padding: 0%;
 
    }
    .menu-inner{
        display: none;
    }
    .menu-inner-mobile{
        display: flex;
        flex-direction: column;
        background-color: black;
        padding: 2%;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 16;
        padding-top: 10%;
    }
        .menu-inner-mobile a {
            flex-grow: 1;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }
        /* THE BUTTONS */
        .burger-icon, .close-icon{
            height: 10vw;
            width: 10vw;
            position: fixed;
            top: 10px;
            display: block;
            z-index: 100;
          }
        .burger-icon{
            left: 20px;
          }
        .close-icon{
            right: 20px;
        }

        .hide-icon{
            display: none;
        } 
        .menu-hidden{
            left: -100%
        }
        .slide-right{
            /* animation: slide reverse forwards; */
            left: 0;
        }

        .slide-left{
            /* animation: 5s slide forwards; */
            left: -100%;
        }

    /* sliding animation */
    @keyframes slide {
        0%{
            /* right: 0; */
            left: 0;
        }
        100%{
            left: -100%;
        }
        
    }



    .menu-container a{
        font-size: 2em 
    }
    

    .playlist_cover{
        width: 50vw;
        height: 50vw;

    }
    .playlist-container{
        grid-template-columns: 1fr;
        padding: 3% 0;
    }
    
    .game-inner{
        width: 100%;
        padding: 5%;
        
    }
    .button-container{
        width: 95%;
        font-size: 1.3em;
    }

    /* HOMEPAGE */
    
    .home-inner{
        width: 90vw;
    }


    /* PLAYLIST */
    .playlist-inner{
        grid-template-columns: repeat(2, 1fr);
        margin: 10% 0;
    }


    /* construction page */
    .constr-inner{
        width: 90vw;
    }
}


